<div>
  <x-element
    boolean={{data.boolean}}
    number={{data.number}}
    string={{data.string}}
    array={{data.array}}
    object={{data.object}}
    undefined-boolean={{data.undefinedBoolean}}
    undefined-number={{data.undefinedNumber}}
    undefined-string={{data.undefinedString}}
    undefined-array={{data.undefinedArray}}
    undefined-object={{data.undefinedObject}}
  ></x-element>
</div>
