<!--
Copyright 2017 Google Inc. All Rights Reserved. Licensed under the Apache
License, Version 2.0 (the "License"); you may not use this file except in
compliance with the License. You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or
agreed to in writing, software distributed under the License is distributed on
an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
or implied. See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Custom Elements Everywhere</title>
  <meta name="description" content="Making sure frameworks and custom elements can be BFFs 🍻">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Custom Elements Everywhere">
  <meta itemprop="description" content="Making sure frameworks and custom elements can be BFFs 🍻">
  <meta itemprop="image" content="https://custom-elements-everywhere.com/images/card.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@rob_dodson">
  <meta name="twitter:title" content="Custom Elements Everywhere">
  <meta name="twitter:description" content="Making sure frameworks and custom elements can be BFFs 🍻">
  <meta name="twitter:creator" content="@rob_dodson">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image" content="https://custom-elements-everywhere.com/images/card.jpg">
  <meta name="twitter:image:alt" content="Making sure frameworks and custom elements can be BFFs 🍻">

  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="styles/bundle.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105089944-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <section class="hero is-info is-large">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Custom Elements Everywhere
        </h1>
        <h2 class="subtitle is-4">
          Making sure frameworks and custom elements can be BFFs
          <span class="cheers">🍻</span>
        </h2>
      </div>
    </div>
    {{>octocat}}
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <div class="content">
            <h2 class="title is-2">What's this?</h2>
            <p>
              Custom Elements are the lynchpin in the Web Components
              specifications. They give developers the ability to define their
              own HTML elements. When coupled with Shadow DOM, Custom Elements
              should be able to work in any application. But things don't always
              work seamlessly.
            </p>
            <p>
              This project runs a suite of tests against each framework to
              identify interoperability issues, and highlight potential fixes
              already implemented in other frameworks. If frameworks agree on
              how they will communicate with Custom Elements, it makes
              developers' jobs easier;they can author their elements to meet
              these expectations.
            </p>
            <p>
              Custom Elements and Shadow DOM don't come with a pre-defined set
              of best practices. The tests in this project are a best guess as
              to how things should work, but they're by no means final. This
              project is also about driving discussion and finding consensus,
              so don't be afraid to open a GitHub issue to discuss places where
              the tests could be improved. ✌️
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{#each libraries}}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <h2 id="{{name}}" class="title is-2">{{fullName}}</h2>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <div>
                        <p class="heading has-text-centered">Score</p>
                        <p class="title">{{results.success}}/{{results.total}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <progress class="progress is-primary" value="{{results.percent}}" max="100">{{results.percent}}%</progress>
                <div class="content">
                  {{{summary.content}}}
                </div>
                <div class="content">
                  <a class="button is-info is-outlined" href="libraries/{{name}}/results/results.html">
                    View the tests
                  </a>
                </div>
              </div>
              <div class="column is-offset-1">
                <div class="box">
                  <h3 class="title is-3">Related Issues</h3>
                  {{#if issues}}
                    {{#each issues}}
                      <article class="media">
                        <div class="media-content">
                          <a href="{{link}}">
                            <div class="content">
                              <p>
                                <strong>{{title}}</strong>
                                <br>
                                <small>{{meta}}</small>
                              </p>
                            </div>
                          </a>
                        </div>
                      </article>
                    {{/each}}
                    {{else}}
                      <div class="has-text-centered">
                        <img src="images/smiley.svg" alt="" width="256">
                        <h4 class="title is-4 no-issues-caption">Yay! No open issues!</h4>
                      </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/each}}
</body>

</html>
